<tr>
    <td>1</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td class="opciones-tabla">
        <a href="http://"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="http://"><i class="fa-solid fa-trash-can"></i></i></a>
    </td>
</tr>