{{> NavbarUser item = this}}

<div class="container-home">
    <h3 class="home-title">Bienvenido</h3>
    <h4 class="home-subtitle">Sistema de solicitud de certificados de empadronamiento</h4>
</div>

{{!-- <h1>Agregue sus URL</h1>

{{> Form}}

{{#each urls }}
    {{> Cards item = this}}
{{/each}} --}}


